# Final Project: Machine Learning with Lending Club Dataset - Oct 2017

# Step 1 
- Import needed libraries and load data into dataframe for analysis

In [44]:
"""
Load Lending Club dataset
"""
import pandas as pd
import numpy as np
# give the path to the file 
path_to_file = "./LoanStats_2017Q2.csv"
data = pd.read_csv(path_to_file)

In [2]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105451 entries, 0 to 105450
Columns: 137 entries, id to hardship_last_payment_amount
dtypes: float64(60), int64(52), object(25)
memory usage: 110.2+ MB

# Step 2 
- Lets check all the columns with all null values

In [3]:
data.columns[data.isnull().all()].tolist()

['id',
 'member_id',
 'url',
 'desc',
 'hardship_type',
 'hardship_reason',
 'hardship_status',
 'deferral_term',
 'hardship_amount',
 'hardship_start_date',
 'hardship_end_date',
 'payment_plan_start_date',
 'hardship_length',
 'hardship_dpd',
 'hardship_loan_status',
 'orig_projected_additional_accrued_interest',
 'hardship_payoff_balance_amount',
 'hardship_last_payment_amount']

In [45]:
# Drop all columns with null or nan values
df = data.dropna(axis=1, how='all')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105451 entries, 0 to 105450
Columns: 119 entries, loan_amnt to hardship_flag
dtypes: float64(42), int64(52), object(25)
memory usage: 95.7+ MB

- Hence, we dropped 137-119 = 18 columns

In [5]:
df.head()

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,...,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_il_6m,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,hardship_flag
0,16000,16000,16000,60 months,12.62%,360.95,C,C1,teacher,10+ years,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
1,8000,8000,8000,36 months,14.08%,273.74,C,C3,Registered Nurse,9 years,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
2,26000,26000,26000,36 months,9.93%,838.10,B,B2,Dealer,7 years,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
3,18950,18950,18950,60 months,21.45%,517.47,D,D5,QA Manager,1 year,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
4,9600,9600,9600,36 months,7.97%,300.70,A,A5,Physician Assistant,< 1 year,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N

# Step 3
- feature selection and data exploration
- Lets analyze each column data and clean data

In [46]:
# This line of code will convert interest rate column to float values. 
# As this will help us in our analysis and calculation.
df.loc[:,'int_rate'] = df.loc[:,'int_rate'].str.replace('%', '').astype(float)
df.int_rate.dtype

/Users/neerajsomani/anaconda/envs/env_dsa/lib/python3.6/site-packages/pandas/core/indexing.py:517: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

dtype('float64')

In [47]:
df.replace('n/a', np.nan,inplace=True)
df['emp_length'].fillna(value=0,inplace=True)
df['emp_length'].replace(to_replace='[^0-9]+', value='', inplace=True, regex=True)
df.emp_length = df.emp_length.astype(int)
print(df['emp_length'].dtype)

/Users/neerajsomani/anaconda/envs/env_dsa/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/Users/neerajsomani/anaconda/envs/env_dsa/lib/python3.6/site-packages/pandas/core/generic.py:3660: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)
/Users/neerajsomani/anaconda/envs/env_dsa/lib/python3.6/site-packages/pandas/core/generic.py:3924: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

int64

/Users/neerajsomani/anaconda/envs/env_dsa/lib/python3.6/site-packages/pandas/core/generic.py:3110: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [8]:
df.issue_d.value_counts()

Jun-2017    38087
May-2017    37681
Apr-2017    29683
Name: issue_d, dtype: int64

- As you can see above the column data type is int but values looks like string. Lets remove '-2017' from values and make this column as string.

In [48]:
df.loc[:,'issue_d'] = df.loc[:,'issue_d'].str.replace('-2017', '')
df.issue_d.value_counts()

/Users/neerajsomani/anaconda/envs/env_dsa/lib/python3.6/site-packages/pandas/core/indexing.py:517: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

Jun    38087
May    37681
Apr    29683
Name: issue_d, dtype: int64

- earliest_cr_line (earliest credit line) column is important as this will tell us about the oldest creadit history. Also, this will help us t consider if someone is going to get retire or health issue. We will consider this for our analysis.

# I need to correct/work on below part

#from datetime import datetime
#earliest_cr_line_dt = pd.to_datetime(df.earliest_cr_line.str)
#print(df.earliest_cr_line.head())
#dttoday = datetime.now().strftime('%Y-%m-%d')
#df.dttoday =  dttoday
#today_dt = pd.to_datetime(df.dttoday)
#print(df.dttoday.head())
#df['dateRange'] = 
#len(pd.date_range(earliest_cr_line_dt,today_dt,freq='M'))
#df.dateRange.head()
#df.loc[:,['dttoday','earliest_cr_line']].head()

In [49]:
from datetime import datetime

df.earliest_cr_line = pd.to_datetime(df.earliest_cr_line)

dttoday = datetime.now().strftime('%Y-%m-%d')
# There is a better way to do this. Need to check that.
df.earliest_cr_line = df.earliest_cr_line.apply(lambda x: (
        np.timedelta64((x - pd.Timestamp(dttoday)),'D').astype(int))/-365)
df.earliest_cr_line = df.earliest_cr_line.astype(int)
df.earliest_cr_line.head()

/Users/neerajsomani/anaconda/envs/env_dsa/lib/python3.6/site-packages/pandas/core/generic.py:3110: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

0    25
1    10
2    19
3    35
4    12
Name: earliest_cr_line, dtype: int64

In [50]:
df.loc[:,'revol_util'] = df.loc[:,'revol_util'].str.replace('%', '').astype(float)
df.revol_util.dtype

/Users/neerajsomani/anaconda/envs/env_dsa/lib/python3.6/site-packages/pandas/core/indexing.py:517: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

dtype('float64')

In [51]:
len(df.columns)

119

In [52]:
frac = len(df) * 0.8
df.dropna(thresh=frac, axis=1)
len(df.columns)

119

- As you can see above, we have tried to drop all the columns that has not more than 70% of the total values as non-na. but non of them has got dropped. Lets try some other approach.

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105451 entries, 0 to 105450
Columns: 119 entries, loan_amnt to hardship_flag
dtypes: float64(44), int64(54), object(21)
memory usage: 95.7+ MB

# Lets try to convert all the 'Object' data type columns into numeric values. This is helpful for our ML model.

In [33]:
df.select_dtypes(include=['object']).iloc[0:5,11:22]

,zip_code,addr_state,initial_list_status,last_pymnt_d,next_pymnt_d,last_credit_pull_d,application_type,verification_status_joint,sec_app_earliest_cr_line,hardship_flag
0,021xx,MA,w,Aug-2017,Sep-2017,Aug-2017,INDIVIDUAL,NaN,NaN,N
1,070xx,NJ,w,Aug-2017,Sep-2017,Aug-2017,INDIVIDUAL,NaN,NaN,N
2,198xx,DE,w,Aug-2017,Sep-2017,Aug-2017,INDIVIDUAL,NaN,NaN,N
3,950xx,CA,w,Aug-2017,Sep-2017,Aug-2017,INDIVIDUAL,NaN,NaN,N
4,880xx,NM,w,Aug-2017,Sep-2017,Aug-2017,INDIVIDUAL,NaN,NaN,N

# I am droping all below listed columns because we dont need these columns inorder to determine int_rate as our result. This means we have already approved a loan_amnt and based on loan_amnt and other credit details we can determine int_rate.
- issue_d, last_pymnt_d, next_payment_d, 'last_credit_pull_d' is not relevant for loan int_rate. 
- title and purpose are almost same, but title has some text value while purpose is like selected field values. Still dropping both as not relevant.
- zip_code is not complete value (means it suffix with 'xx'). lets drop it.
- initial_list_status, hardship_flag not clear.
- df.drop(['last_credit_pull_d'],1,inplace=True)

In [53]:
df.drop(['grade','sub_grade','emp_title', 'issue_d', 'loan_status','pymnt_plan','title', 'purpose', 'zip_code',
         'initial_list_status','last_pymnt_d','next_pymnt_d','last_credit_pull_d','hardship_flag'],1,inplace=True)

/Users/neerajsomani/anaconda/envs/env_dsa/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [31]:
df.term.value_counts()

 36 months    77105
 60 months    28346
Name: term, dtype: int64

In [54]:
df.term = df.term.str.replace(' months', '')
df.term = df.term.astype(int)
df.term.value_counts()

/Users/neerajsomani/anaconda/envs/env_dsa/lib/python3.6/site-packages/pandas/core/generic.py:3110: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

36    77105
60    28346
Name: term, dtype: int64

In [14]:
df.select_dtypes(include=['object']).iloc[0:5,:]

,home_ownership,verification_status,addr_state,application_type,verification_status_joint,sec_app_earliest_cr_line
0,MORTGAGE,Not Verified,MA,INDIVIDUAL,NaN,NaN
1,RENT,Verified,NJ,INDIVIDUAL,NaN,NaN
2,OWN,Not Verified,DE,INDIVIDUAL,NaN,NaN
3,MORTGAGE,Verified,CA,INDIVIDUAL,NaN,NaN
4,OWN,Not Verified,NM,INDIVIDUAL,NaN,NaN

In [77]:
df.verification_status_joint.value_counts()

Not Verified       2425
Source Verified    2346
Verified           2042
Name: verification_status_joint, dtype: int64

In [39]:
df.verification_status_joint.isnull().sum()

98638

In [17]:
df.verification_status_joint.dtype

dtype('O')

- I want to convert all categorical columns to interger but not getting how. I can use OneHotEncoder but still facing some issues. Will work on it later.

In [18]:
df_cat = df.select_dtypes(include=['object']).astype(str)
df_cat.shape

(105451, 6)

In [56]:
df[['home_ownership', 'verification_status', 'addr_state','application_type', 
   'verification_status_joint','sec_app_earliest_cr_line']].head()

,home_ownership,verification_status,addr_state,application_type,verification_status_joint,sec_app_earliest_cr_line
0,MORTGAGE,Not Verified,MA,INDIVIDUAL,NaN,NaN
1,RENT,Verified,NJ,INDIVIDUAL,NaN,NaN
2,OWN,Not Verified,DE,INDIVIDUAL,NaN,NaN
3,MORTGAGE,Verified,CA,INDIVIDUAL,NaN,NaN
4,OWN,Not Verified,NM,INDIVIDUAL,NaN,NaN

In [58]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
df[['home_ownership', 'verification_status', 'addr_state','application_type', 
   'verification_status_joint','sec_app_earliest_cr_line']] = df[['home_ownership', 'verification_status', 'addr_state','application_type', 
   'verification_status_joint','sec_app_earliest_cr_line']].astype(str).apply(le.fit_transform)
df[['home_ownership', 'verification_status', 'addr_state','application_type', 
   'verification_status_joint','sec_app_earliest_cr_line']].head()

/Users/neerajsomani/anaconda/envs/env_dsa/lib/python3.6/site-packages/pandas/core/frame.py:2352: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[k1] = value[k2]

,home_ownership,verification_status,addr_state,application_type,verification_status_joint,sec_app_earliest_cr_line
0,1,0,18,1,3,492
1,4,2,30,1,3,492
2,3,0,8,1,3,492
3,1,2,4,1,3,492
4,3,0,31,1,3,492

In [59]:
enc = preprocessing.OneHotEncoder()
onehotlabels = enc.fit_transform(df[['home_ownership', 'verification_status', 'addr_state','application_type', 
   'verification_status_joint','sec_app_earliest_cr_line']]).toarray()
onehotlabels.shape

(105451, 557)

In [60]:
onehotlabels

array([[ 0.,  1.,  0., ...,  0.,  0.,  1.],
       [ 0.,  0.,  0., ...,  0.,  0.,  1.],
       [ 0.,  0.,  0., ...,  0.,  0.,  1.],
       ...,
       [ 0.,  0.,  0., ...,  0.,  0.,  1.],
       [ 0.,  0.,  0., ...,  0.,  0.,  1.],
       [ 0.,  1.,  0., ...,  0.,  0.,  1.]])

In [61]:
type(onehotlabels)

numpy.ndarray

In [70]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105451 entries, 0 to 105450
Columns: 105 entries, loan_amnt to sec_app_mths_since_last_major_derog
dtypes: float64(44), int64(61)
memory usage: 84.5 MB

In [77]:
df.fillna(0.0,inplace=True)
df.fillna(0,inplace=True)

/Users/neerajsomani/anaconda/envs/env_dsa/lib/python3.6/site-packages/pandas/core/frame.py:2754: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  downcast=downcast, **kwargs)

In [ ]:
# I implemented above scripts with an assumption that this will not impact our analysis. We can look into it later.

# Lets do feature selection based on below 4 points. Some basic methods from a mathematics perspective:
# feature selection based on Lecture Notes
- Removing features with low variance
- Univariate feature selection (using sklearn feature selection lib)
- L1/L2-based feature selection (using Ridge, Lasso, ElasticNet regression {L1 penalty, L2 penalty})
- Tree-based feature selection 
---------------------------------------
- Grid Search CV (cross validation)
- table plot - check

# In this analysis I want to create a model for predicting default int_rate based on available details. Since, loan is already approved with some loan_amnt given.

# 1. trying low variance feature selection approach

In [78]:
import pprint
print('Shape: (%d, %d)' %df.iloc[:,:].shape)
print('Variation:')
pprint.pprint(dict(zip(df.columns, np.var(df.iloc[:,:], 0))))

Shape: (105451, 105)
Variation:
{'acc_now_delinq': 0.0056802066457055985,
 'acc_open_past_24mths': 10.408557642326873,
 'addr_state': 211.03792223494062,
 'all_util': 431.39593950582167,
 'annual_inc': 4654011086.1250935,
 'annual_inc_joint': 980145483.86860669,
 'application_type': 0.060637414311020668,
 'avg_cur_bal': 270907079.24036956,
 'bc_open_to_buy': 282579608.41786313,
 'bc_util': 829.56202416149699,
 'chargeoff_within_12_mths': 0.011077142560216139,
 'collection_recovery_fee': 0.0,
 'collections_12_mths_ex_med': 0.026896946694994057,
 'delinq_2yrs': 0.92552641183904572,
 'delinq_amnt': 554613.8833979551,
 'dti': 200.20690116597939,
 'dti_joint': 24.292893250983809,
 'earliest_cr_line': 59.425835235602634,
 'emp_length': 14.443147328237554,
 'funded_amnt': 89847445.831452727,
 'funded_amnt_inv': 89795989.339208111,
 'home_ownership': 2.0136324639016832,
 'il_util': 1041.3723703421331,
 'inq_fi': 2.1345846070923828,
 'inq_last_12m': 5.4370052297858704,
 'inq_last_6mths': 0.65462840037422876,
 'installment': 78502.885949719537,
 'int_rate': 26.596773600938292,
 'last_pymnt_amnt': 8849986.9165600408,
 'loan_amnt': 89847445.831452727,
 'max_bal_bc': 28359038.869335011,
 'mo_sin_old_il_acct': 3217.791061973106,
 'mo_sin_old_rev_tl_op': 9631.2067169361981,
 'mo_sin_rcnt_rev_tl_op': 298.35346442137228,
 'mo_sin_rcnt_tl': 73.454835491521422,
 'mort_acc': 3.04875522708278,
 'mths_since_last_delinq': 524.25267796971809,
 'mths_since_last_major_derog': 533.05106498915018,
 'mths_since_last_record': 879.98406807816048,
 'mths_since_rcnt_il': 624.34802343901322,
 'mths_since_recent_bc': 1011.2428071979848,
 'mths_since_recent_bc_dlq': 373.75691225208055,
 'mths_since_recent_inq': 36.588009478142155,
 'mths_since_recent_revol_delinq': 437.01069980189726,
 'num_accts_ever_120_pd': 2.2658434229959687,
 'num_actv_bc_tl': 5.5129763057741386,
 'num_actv_rev_tl': 11.675476681712352,
 'num_bc_sats': 9.5867368161959892,
 'num_bc_tl': 20.182424861313244,
 'num_il_tl': 55.47527262063403,
 'num_op_rev_tl': 22.509660174823647,
 'num_rev_accts': 61.773485201811006,
 'num_rev_tl_bal_gt_0': 10.776977659123578,
 'num_sats': 33.114736341819416,
 'num_tl_120dpd_2m': 0.00098537637883358347,
 'num_tl_30dpd': 0.0035157896100651768,
 'num_tl_90g_dpd_24m': 0.31085042799712809,
 'num_tl_op_past_12m': 3.3787170479790114,
 'open_acc': 33.371920939336199,
 'open_acc_6m': 1.1885290605594643,
 'open_il_12m': 0.70030533342957546,
 'open_il_24m': 2.2832890932146235,
 'open_il_6m': 9.6355619737504732,
 'open_rv_12m': 2.288908601728628,
 'open_rv_24m': 6.8823245957194699,
 'out_prncp': 86047577.891377583,
 'out_prncp_inv': 86002145.266169131,
 'pct_tl_nvr_dlq': 95.042017743441377,
 'percent_bc_gt_75': 1300.1724988702567,
 'policy_code': 0.0,
 'pub_rec': 0.432820589013927,
 'pub_rec_bankruptcies': 0.15325482443493779,
 'recoveries': 0.0,
 'revol_bal': 527429542.30972672,
 'revol_bal_joint': 80824478.276363775,
 'revol_util': 589.86133060204304,
 'sec_app_chargeoff_within_12_mths': 0.0032210678903976712,
 'sec_app_collections_12_mths_ex_med': 0.007281934946803654,
 'sec_app_earliest_cr_line': 4748.9401860201078,
 'sec_app_inq_last_6mths': 0.083170018204903731,
 'sec_app_mort_acc': 0.36824543090703343,
 'sec_app_mths_since_last_major_derog': 44.356764686943066,
 'sec_app_num_rev_accts': 13.146621200745463,
 'sec_app_open_acc': 10.289777615311339,
 'sec_app_open_il_6m': 1.2252284767616659,
 'sec_app_revol_util': 255.51709042637222,
 'tax_liens': 0.19497452919084926,
 'term': 113.21276638406709,
 'tot_coll_amt': 3862995.3051636633,
 'tot_cur_bal': 27147326865.732212,
 'tot_hi_cred_lim': 34131536458.026539,
 'total_acc': 139.87619886806453,
 'total_bal_ex_mort': 2642706564.0137658,
 'total_bal_il': 1936387129.8596261,
 'total_bc_limit': 537851076.15766466,
 'total_cu_tl': 6.9391928103488292,
 'total_il_high_credit_limit': 2130412794.11373,
 'total_pymnt': 10144209.478550781,
 'total_pymnt_inv': 10138153.17083768,
 'total_rec_int': 171988.89744167676,
 'total_rec_late_fee': 3.1133928116663214,
 'total_rec_prncp': 9699578.6348744873,
 'total_rev_hi_lim': 1238193181.3860381,
 'verification_status': 0.60510963308295196,
 'verification_status_joint': 0.29767310235572164}

In [79]:
import sklearn.feature_selection as fs
th1 = np.logspace(0,2,num=3, endpoint=True)
select = []
for i in th1:
    vt = fs.VarianceThreshold(threshold=i)
    select1 = vt.fit_transform(df.loc[:,:])
    select.append(select1.shape)
print(np.array(select))

[[105451     83]
 [105451     67]
 [105451     48]]

In [81]:
th1

array([   1.,   10.,  100.])

# As you can see by running above script that we can not directly use this here. We don't know low variance can help us here in our result. Hence, this approach will not work.

# 2. univariate selection

In [18]:
# Since this is a regression problem, I will use f_regression for SelectKBest

In [83]:
df.head()

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,emp_length,home_ownership,annual_inc,verification_status,...,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_il_6m,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog
0,16000,16000,16000,60,12.62,360.95,10,1,94000.0,0,...,492,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,8000,8000,8000,36,14.08,273.74,9,4,120000.0,2,...,492,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,26000,26000,26000,36,9.93,838.10,7,3,57900.0,0,...,492,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,18950,18950,18950,60,21.45,517.47,1,1,130000.0,2,...,492,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,9600,9600,9600,36,7.97,300.70,1,3,140000.0,0,...,492,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
#y = df.int_rate.values
#df.drop('int_rate',axis = 1, inplace=True)

In [22]:
X = np.array(df.iloc[:,:])
print(X.shape)
print(y.shape)
best2 = fs.SelectKBest(fs.f_regression, k=80).fit_transform(X,y)
best2.shape

(105451, 118)
(105451,)

ValueError: could not convert string to float: 'N'

- As we learned above approach will also not going to work, untill we clean the data. S, lets first do that again.