# Final Project: Machine Learning with Lending Club Dataset - Oct 2017

# Step 1 
- Import needed libraries and load data into dataframe for analysis

In [1]:
"""
Load Lending Club dataset
"""
import pandas as pd
import numpy as np
# give the path to the file 
path_to_file = "./LoanStats_2017Q2.csv"
data = pd.read_csv(path_to_file)

In [2]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105451 entries, 0 to 105450
Columns: 137 entries, id to hardship_last_payment_amount
dtypes: float64(60), int64(52), object(25)
memory usage: 110.2+ MB

# Step 2 
- Lets check all the columns with all null values

In [3]:
data.columns[data.isnull().all()].tolist()

['id',
 'member_id',
 'url',
 'desc',
 'hardship_type',
 'hardship_reason',
 'hardship_status',
 'deferral_term',
 'hardship_amount',
 'hardship_start_date',
 'hardship_end_date',
 'payment_plan_start_date',
 'hardship_length',
 'hardship_dpd',
 'hardship_loan_status',
 'orig_projected_additional_accrued_interest',
 'hardship_payoff_balance_amount',
 'hardship_last_payment_amount']

In [3]:
# Drop all columns with null or nan values
df = data.dropna(axis=1, how='all')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105451 entries, 0 to 105450
Columns: 119 entries, loan_amnt to hardship_flag
dtypes: float64(42), int64(52), object(25)
memory usage: 95.7+ MB

- Hence, we dropped 137-119 = 18 columns

In [5]:
df.head()

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,...,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_il_6m,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,hardship_flag
0,16000,16000,16000,60 months,12.62%,360.95,C,C1,teacher,10+ years,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
1,8000,8000,8000,36 months,14.08%,273.74,C,C3,Registered Nurse,9 years,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
2,26000,26000,26000,36 months,9.93%,838.10,B,B2,Dealer,7 years,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
3,18950,18950,18950,60 months,21.45%,517.47,D,D5,QA Manager,1 year,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
4,9600,9600,9600,36 months,7.97%,300.70,A,A5,Physician Assistant,< 1 year,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N

# Step 3
- feature selection and data exploration
- Lets analyze each column data and clean data

In [4]:
# This line of code will convert interest rate column to float values. 
# As this will help us in our analysis and calculation.
df.loc[:,'int_rate'] = df.loc[:,'int_rate'].str.replace('%', '').astype(float)
df.int_rate.dtype

/Users/neerajsomani/anaconda/envs/env_dsa/lib/python3.6/site-packages/pandas/core/indexing.py:517: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

dtype('float64')

In [5]:
df.replace('n/a', np.nan,inplace=True)
df['emp_length'].fillna(value=0,inplace=True)
df['emp_length'].replace(to_replace='[^0-9]+', value='', inplace=True, regex=True)
df.emp_length = df.emp_length.astype(int)
print(df['emp_length'].dtype)

/Users/neerajsomani/anaconda/envs/env_dsa/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/Users/neerajsomani/anaconda/envs/env_dsa/lib/python3.6/site-packages/pandas/core/generic.py:3660: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

int64

/Users/neerajsomani/anaconda/envs/env_dsa/lib/python3.6/site-packages/pandas/core/generic.py:3924: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)
/Users/neerajsomani/anaconda/envs/env_dsa/lib/python3.6/site-packages/pandas/core/generic.py:3110: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [8]:
df.issue_d.value_counts()

Jun-2017    38087
May-2017    37681
Apr-2017    29683
Name: issue_d, dtype: int64

- As you can see above the column data type is int but values looks like string. Lets remove '-2017' from values and make this column as string.

In [6]:
df.loc[:,'issue_d'] = df.loc[:,'issue_d'].str.replace('-2017', '')
df.issue_d.value_counts()

/Users/neerajsomani/anaconda/envs/env_dsa/lib/python3.6/site-packages/pandas/core/indexing.py:517: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

Jun    38087
May    37681
Apr    29683
Name: issue_d, dtype: int64

- earliest_cr_line (earliest credit line) column is important as this will tell us about the oldest creadit history. Also, this will help us t consider if someone is going to get retire or health issue. We will consider this for our analysis.

# I need to correct/work on below part

#from datetime import datetime
#earliest_cr_line_dt = pd.to_datetime(df.earliest_cr_line.str)
#print(df.earliest_cr_line.head())
#dttoday = datetime.now().strftime('%Y-%m-%d')
#df.dttoday =  dttoday
#today_dt = pd.to_datetime(df.dttoday)
#print(df.dttoday.head())
#df['dateRange'] = 
#len(pd.date_range(earliest_cr_line_dt,today_dt,freq='M'))
#df.dateRange.head()
#df.loc[:,['dttoday','earliest_cr_line']].head()

In [21]:
from datetime import datetime

df.earliest_cr_line = pd.to_datetime(df.earliest_cr_line)

dttoday = datetime.now().strftime('%Y-%m-%d')
# There is a better way to do this. Need to check that.
df.earliest_cr_line = df.earliest_cr_line.apply(lambda x: (
        np.timedelta64((x - pd.Timestamp(dttoday)),'D').astype(int))/-365)
df.earliest_cr_line = df.earliest_cr_line.astype(int)
df.earliest_cr_line.head()

/Users/neerajsomani/anaconda/envs/env_dsa/lib/python3.6/site-packages/pandas/core/generic.py:3110: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [26]:
df.loc[:,'revol_util'] = df.loc[:,'revol_util'].str.replace('%', '').astype(float)
df.revol_util.dtype

/Users/neerajsomani/anaconda/envs/env_dsa/lib/python3.6/site-packages/pandas/core/indexing.py:517: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

dtype('float64')

# Lets do feature selection based on below 4 points. Some basic methods from a mathematics perspective:
# feature selection based on Lecture Notes
- Removing features with low variance
- Univariate feature selection (using sklearn feature selection lib)
- L1/L2-based feature selection (using Ridge, Lasso, ElasticNet regression {L1 penalty, L2 penalty})
- Tree-based feature selection 
---------------------------------------
- Grid Search CV (cross validation)
- table plot - check

# In this analysis I want to create a model for predicting default loan amount based on available details:

In [12]:
y = df.loan_amnt.values
df.drop('loan_amnt',axis = 1, inplace=True)

/Users/neerajsomani/anaconda/envs/env_dsa/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

# 1. trying low variance feature selection approach

In [15]:
import pprint
print('Shape: (%d, %d)' %df.iloc[:,:].shape)
print('Variation:')
pprint.pprint(dict(zip(df.columns, np.var(df.iloc[:,:], 0))))

Shape: (105451, 118)
Variation:
{'acc_now_delinq': 284139524.63953346,
 'acc_open_past_24mths': 55.475272620605544,
 'addr_state': 10144209.478550678,
 'all_util': 2.2658434230013116,
 'annual_inc': 667.55732412557222,
 'annual_inc_joint': 5.4370052297856013,
 'application_type': 6.9391928103559524,
 'avg_cur_bal': 22.509660174825676,
 'bc_open_to_buy': 61.773485201802607,
 'bc_util': 10.776977659126647,
 'chargeoff_within_12_mths': 33.114736341821263,
 'collection_recovery_fee': 1936387129.8600271,
 'collections_12_mths_ex_med': 431.03235456616551,
 'delinq_2yrs': 9699578.6348744594,
 'delinq_amnt': 0.0010372468216211786,
 'dti': 10138153.170837712,
 'dti_joint': 10.408557642327631,
 'earliest_cr_line': 171988.89744167883,
 'emp_length': 0.65462840037453651,
 'emp_title': 59.5548840649383,
 'funded_amnt': 89847445.831444412,
 'funded_amnt_inv': 89795989.339220271,
 'grade': 200.09298527157966,
 'home_ownership': 480.39909864090635,
 'il_util': 1015.7348599671778,
 'initial_list_status': 47.759727945467517,
 'inq_fi': 11.675476681709098,
 'inq_last_12m': 20.182424861313901,
 'inq_last_6mths': 3.1133928116626555,
 'installment': 4654011086.1249371,
 'int_rate': 78502.885949720847,
 'issue_d': 0.43282058901350623,
 'last_credit_pull_d': 28359038.869333889,
 'last_pymnt_amnt': 2.2889086017262597,
 'last_pymnt_d': 593.27904695992913,
 'loan_status': 527429542.30973011,
 'max_bal_bc': 493.16612111856364,
 'mo_sin_old_il_acct': 0.0035157896100597519,
 'mo_sin_old_rev_tl_op': 0.31085042799786106,
 'mo_sin_rcnt_rev_tl_op': 3.3787170479782045,
 'mo_sin_rcnt_tl': 95.04201774344736,
 'mort_acc': 1296.5820342785494,
 'mths_since_last_delinq': 0.0,
 'mths_since_last_major_derog': 1238193181.3860199,
 'mths_since_last_record': 0.0,
 'mths_since_rcnt_il': 73.454835491483692,
 'mths_since_recent_bc': 0.15325482443476088,
 'mths_since_recent_bc_dlq': 0.19497452919058034,
 'mths_since_recent_inq': 34131536458.026405,
 'mths_since_recent_revol_delinq': 2642706564.0137477,
 'next_pymnt_d': 6.8823245957219132,
 'num_accts_ever_120_pd': 537851076.15765619,
 'num_actv_bc_tl': 2130412794.1135411,
 'num_actv_rev_tl': 457320739.40499395,
 'num_bc_sats': 0.92949534424906743,
 'num_bc_tl': 3.0773250754787678,
 'num_il_tl': 40.183706119533433,
 'num_op_rev_tl': 574.07621349874876,
 'num_rev_accts': 11.156404169317335,
 'num_rev_tl_bal_gt_0': 59.641990041111669,
 'num_sats': 0.049192908471540168,
 'num_tl_120dpd_2m': 0.1083259667253549,
 'num_tl_30dpd': 546.50407338630396,
 'open_acc': 8849986.9165603388,
 'open_acc_6m': 554613.88339687639,
 'open_il_12m': 9631.2067169360125,
 'open_il_24m': 298.35346442137279,
 'open_il_6m': 2901.1017799645765,
 'open_rv_12m': 507.18279492546515,
 'open_rv_24m': 35.543684082356194,
 'out_prncp': 0.005680206645702816,
 'out_prncp_inv': 3862995.3051536209,
 'policy_code': 2.1345846070946393,
 'pub_rec': 0.026896946695025788,
 'purpose': 139.87619886807067,
 'pymnt_plan': 588.57231551857092,
 'recoveries': 629.06635863509177,
 'revol_bal': 504.4861883839605,
 'revol_util': 0.0,
 'sub_grade': 0.92552641184008455,
 'term': 26.59677360092477,
 'title': 86047577.891381875,
 'tot_coll_amt': 802.96912393603918,
 'tot_cur_bal': 0.011077142560204006,
 'total_acc': 2847536277.2160163,
 'total_bal_il': 3.0487552270821854,
 'total_cu_tl': 9.5867368161710012,
 'total_pymnt': 27147326865.731583,
 'total_pymnt_inv': 1.1885290605600822,
 'total_rec_int': 0.70030533342999735,
 'total_rec_late_fee': 2.283289093215124,
 'total_rec_prncp': 9.6355619737438278,
 'total_rev_hi_lim': 5.5129763057765375,
 'verification_status': 33.371920939296892,
 'verification_status_joint': 270908603.34042257,
 'zip_code': 86002145.266162559}

In [16]:
import sklearn.feature_selection as fs
th1 = np.logspace(0,2,num=3, endpoint=True)
select = []
for i in th1:
    vt = fs.VarianceThreshold(threshold=i)
    select1 = vt.fit_transform(df.loc[:,:])
    select.append(select1.shape)
print(np.array(select))

ValueError: could not convert string to float: 'N'

- As you can see by running above script that we can not directly use this here. We need to do some cleaning or some other approach.

# 2. univariate selection

In [18]:
# Since this is a regression problem, I will use f_regression for SelectKBest

In [22]:
X = np.array(df.iloc[:,:])
print(X.shape)
print(y.shape)
best2 = fs.SelectKBest(fs.f_regression, k=80).fit_transform(X,y)
best2.shape

(105451, 118)
(105451,)

ValueError: could not convert string to float: 'N'

- As we learned above approach will also not going to work, untill we clean the data. S, lets first do that again.

In [27]:
len(df.columns)

119

In [28]:
frac = len(df) * 0.8
df.dropna(thresh=frac, axis=1)
len(df.columns)

119

- As you can see above, we have tried to drop all the columns that has not more than 70% of the total values as non-na. but non of them has got dropped. Lets try some other approach.

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105451 entries, 0 to 105450
Columns: 119 entries, loan_amnt to hardship_flag
dtypes: float64(44), int64(54), object(21)
memory usage: 95.7+ MB

# Lets try to convert all the 'Object' data type columns into numeric values. This is helpful for our ML model.

In [33]:
df.select_dtypes(include=['object']).iloc[0:5,11:22]

,zip_code,addr_state,initial_list_status,last_pymnt_d,next_pymnt_d,last_credit_pull_d,application_type,verification_status_joint,sec_app_earliest_cr_line,hardship_flag
0,021xx,MA,w,Aug-2017,Sep-2017,Aug-2017,INDIVIDUAL,NaN,NaN,N
1,070xx,NJ,w,Aug-2017,Sep-2017,Aug-2017,INDIVIDUAL,NaN,NaN,N
2,198xx,DE,w,Aug-2017,Sep-2017,Aug-2017,INDIVIDUAL,NaN,NaN,N
3,950xx,CA,w,Aug-2017,Sep-2017,Aug-2017,INDIVIDUAL,NaN,NaN,N
4,880xx,NM,w,Aug-2017,Sep-2017,Aug-2017,INDIVIDUAL,NaN,NaN,N

# I am droping all below listed columns because we dont need these columns inorder to determine int_rate as our result. This means we have already approved a loan_amnt and based on loan_amnt and other credit details we can determine int_rate.
- issue_d, last_pymnt_d, next_payment_d, 'last_credit_pull_d' is not relevant for loan int_rate. 
- title and purpose are almost same, but title has some text value while purpose is like selected field values. Still dropping both as not relevant.
- zip_code is not complete value (means it suffix with 'xx'). lets drop it.
- initial_list_status, hardship_flag not clear.
- df.drop(['last_credit_pull_d'],1,inplace=True)

In [34]:
df.drop(['grade','sub_grade','emp_title', 'issue_d', 'loan_status','pymnt_plan','title', 'purpose', 'zip_code',
         'initial_list_status','last_pymnt_d','next_pymnt_d','last_credit_pull_d','hardship_flag'],1,inplace=True)

/Users/neerajsomani/anaconda/envs/env_dsa/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [31]:
df.term.value_counts()

 36 months    77105
 60 months    28346
Name: term, dtype: int64

In [32]:
df.term = df.term.str.replace(' months', '')
df.term = df.term.astype(int)
df.term.value_counts()

/Users/neerajsomani/anaconda/envs/env_dsa/lib/python3.6/site-packages/pandas/core/generic.py:3110: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

 36    77105
 60    28346
Name: term, dtype: int64

In [37]:
df.select_dtypes(include=['object']).iloc[0:5,:]

,home_ownership,verification_status,addr_state,application_type,verification_status_joint,sec_app_earliest_cr_line
0,MORTGAGE,Not Verified,MA,INDIVIDUAL,NaN,NaN
1,RENT,Verified,NJ,INDIVIDUAL,NaN,NaN
2,OWN,Not Verified,DE,INDIVIDUAL,NaN,NaN
3,MORTGAGE,Verified,CA,INDIVIDUAL,NaN,NaN
4,OWN,Not Verified,NM,INDIVIDUAL,NaN,NaN

In [77]:
df.verification_status_joint.value_counts()

Not Verified       2425
Source Verified    2346
Verified           2042
Name: verification_status_joint, dtype: int64

In [39]:
df.verification_status_joint.isnull().sum()

98638

In [43]:
test = df.verification_status_joint
test.dtype

dtype('O')

- I want to convert all categorical columns to interger but not getting how. I can use OneHotEncoder but still facing some issues. Will work on it later.